<!DOCTYPE html>
<html>
	<head>
		<title>Elfin</title>
		<style>
			body {
				background: red;
				font-family: verdana;
				color: white;
				padding: 150px;
			}
			h1 {
				font-size: 72px;
				text-transform: uppercase;
				letter-spacing: 2px;
				text-align: center;
			}
			p {
				font-size: 32px;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<% include parsial/judul.ejs %>
		<b><p>Ini dua.ejs, teks di atas adalah Partial Template</p></b>!
	</body>
</html>
